h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
 }

.bg {
  position: relative;
  margin: 0px auto;
  z-index: 1;
  min-width: 1440px;
}

.center {
  width: 1440px;
  margin: 0px auto;
}

.bg-before::before {
  position: absolute;
  width: 1440px;
  height: 1005px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
  z-index: -1;
}

.section {
  position: relative;
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1110px;
}

.header-image {
  position: absolute;
  height: 504px;
  width: 1005px;
  margin-left: 270px;
}

.main-img {
  vertical-align: top;
  width: 540px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.m-left {
  margin-left: 25px;
}

.m-right {
margin-right: 25px;
}

.header-h1 {
  position: relative;
  padding-top: 55px;
}

.text-block {
  margin-top: 225px;
}

.text-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    width: 540px;
  }

.text-right {
    display: inline-block;
    width: 540px;
    margin-left: auto;
}

.btn {
  display: inline-block;
  margin-top: 38px;
  padding: 12px 24px;
  font-family: Open-Sans, Arial, sans-serif;
  background-color: #FE8A02;
  text-decoration: none;
}

.btn:hover {
  background-color:  #EA7600
}

.text-center {
  text-align: center;
}

.h-video {
  margin: 35px auto;
}

.video {
  display: block;
  margin: 0px auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  margin-bottom: -200px;
}

.padding-t-200 {
  padding-top: 200px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  }

.card-h-size {
  width: 350px;
  height: 323px;
}

.card-1-2-size {
  display: block;
  width: 302px;
  height: 275px;
}

.card-3-4-5-size {
  width: 302px;
  height: 300px;
}

.c-m-right {
margin-right: 30px;
}

.c-m-bottom {
  margin-bottom: 20px;
}

.card-padding {
  padding: 24px;
}

.inline-block {
  display: inline-block;
}

.m-left-auto {
  margin-left: auto;
}

.m-right-auto {
  margin-right: auto;
}

.w-540 {
  width: 540px;
}

.h6 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.text-font {
  font-family: Open-Sans, Arial, sans-serif;
  line-height: 1.6em;
  font-weight: 400;
}

.text-font-b {
  font-family: Open-Sans, Arial, sans-serif;
  line-height: 1.6em;
  font-weight: 700;
}

.h-font {
  font-family: Neucha, Arial, sans-serif;
  line-height: 1.2em;
  font-weight: 400; 
}

.card-bg {
  background-color: #F5F4F0;
  text-decoration: none;
}

.number {
  margin-bottom: 40px;
  font-family: Neucha, Arial, sans-serif;
  line-height: 1em;
  font-weight: 400; 
  font-size: 64px;
  color: #42413C;
  ;
}

.a-hover:hover {
  background-color: #FE8A02;
}

.a-hover:hover div.number, .a-hover:hover h4.text-orange, .a-hover:hover p.text-font {
  color: white;
}

.text-size-72 {
  font-size: 72px;
}

.text-size-60 {
  font-size: 60px;
}

.text-size-52 {
  font-size: 52px;
}

.text-size-34 {
  font-size: 34px;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-16 {
  font-size: 16px;
}

.text-size-14 {
  font-size: 14px;
}

.text-orange {
  color: #FE8A02;
}

.text-black {
  color: #2A2626;
}

.text-white {
  color: white;
}

.text-sec {
  color: #908D8B;
}

.text-dark {
  color: #42413C
}

.bg-black {
  background-color: #42413C;
 }

.bg-light {
  background-color: #F5F4F0;
}

.bg-dark {
  background-color: #B09A81;
}
.bg-orange {
  background-color: #FE8A02;
}

.bg-white {
  background-color: white;
}

@font-face {
  font-family: "Neucha"; 
  src: url("../fonts/Neucha-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
  }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}