h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.bg {
  width: 100%;
  position: relative;
  z-index: 0;
}

.container {
  position: relative;
  width: 1440px;
  margin: 0px auto;
}

.bg-before::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
  z-index: -1;
}

.section {
  position: relative;
  margin: 0px auto;
  padding: 100px 11%;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 78%;
}

.header-image {
  position: absolute;
  width: 1005px;
  margin-left: 270px;
}

.header-h1 {
  width: 635px;
  position: relative;
  padding-top: 55px;
}

.header-text-block {
  margin-top: 225px;
}

.text-left {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  width: 540px;
}

.text-right {
  display: inline-block;
  width: 540px;
  margin-left: auto;
}

.btn {
  display: inline-block;
  margin-top: 38px;
  padding: 12px 24px;
  font-family: Open-Sans, Arial, sans-serif;
}

.btn:hover {
  background-color:  #EA7600
}

.text-center {
  text-align: center;
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: -200px;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
  margin: 0px auto;
  z-index: 1;
}

.padding-t-200 {
  padding-top: 200px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-h-size {
  width: 350px;
  height: 323px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-1-2-size {
  display: block;
  width: 302px;
  height: 300px;
  padding: 24px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-3-4-5-size {
  width: 302px;
  height: 300px;
  padding: 24px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.main-img-left {
  display: inline-block;
  vertical-align: top;
  width: 540px;
  margin-right: 25px;
}

.main-text-right {
  display: inline-block;
  vertical-align: top;
  width: 540px;
  margin-right: auto;
}

.main-text-left {
  display: inline-block;
  vertical-align: top;
  width: 540px;
}

.main-img-right {
  display: inline-block;
  vertical-align: top;
  width: 540px;
  margin-right: auto;
}

.h6 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.update {
  display: inline-block;
  width: 390px;
  margin-right: 125px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.email-block {
  display: inline-block;
  vertical-align: top;
  padding-top: 40px;
}

.form {
  height: 50px;
  margin: 10px 0px;
}

.input-email {
  vertical-align: top;
  width: 365px;
  height: 20px;
  padding: 15px;
  border: none;
  float: left;
}

.input-email::placeholder {
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 18px;
  color: black;
  opacity: 0.2;
}
  
.btn-email {
  width: 70px;
  height: 50px;
  border: none;
  float: left;
}

.btn-email::before {
  position: relative;
  top: 4px;
  content: url(../images/vector.png);
}

.btn-email:hover {
  background-color: #EA7600;
}

.padding-t-b-16 {
  padding: 16px 0px;
}

.contacts {
  margin-top: 100px;
  text-align: center;
}

.padding-16-0 {
  padding: 16px 0px;
}

.bg-black {
  background-color: #42413C;
}

.number {
  margin-bottom: 40px;
  font-family: Neucha, Arial, sans-serif;
  line-height: 1em;
  font-weight: 400; 
  font-size: 64px;
  color: #42413C;
  ;
}

.bg-light {
  background-color: #F5F4F0;
}

.bg-dark {
  background-color: #B09A81;
}
.bg-orange {
  background-color: #FE8A02;
}

.bg-white {
  background-color: white;
}

.text-font {
  font-family: Open-Sans, Arial, sans-serif;
  line-height: 1.6em;
  font-weight: 400;
}

.text-font-b {
  font-family: Open-Sans, Arial, sans-serif;
  line-height: 1.6em;
  font-weight: 700;
}

.h-font {
  font-family: Neucha, Arial, sans-serif;
  line-height: 1.2em;
  font-weight: 400; 
}

.text-size-72 {
  font-size: 72px;
}

.text-size-60 {
  font-size: 60px;
}

.text-size-52 {
  font-size: 52px;
}

.text-size-34 {
  font-size: 34px;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-16 {
  font-size: 16px;
}

.text-size-14 {
  font-size: 14px;
}

.text-orange {
  color: #FE8A02;
}

.text-black {
  color: #2A2626;
}

.text-white {
  color: white;
}

.text-sec {
  color: #908D8B;
}

.text-dark {
  color: #42413C
}

.text-blue {
  color: #1085C5;
}

.text-decor-none {
  text-decoration: none;
}

.a-hover:hover {
  background-color: #FE8A02;
}

.a-hover:hover div.number, .a-hover:hover h4.text-orange, .a-hover:hover p.text-font {
  color: white;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}


@font-face {
  font-family: "Neucha"; 
  src: url("../fonts/Neucha-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
  }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@media only screen and (max-width: 1430px) {

  .container {
    width: 100%;
  }

  .bg-before::before {
    width: 100%;
  }

  .header-image {
    position: relative;
    margin: 0px auto;
    width: 90%;
  }

  .header-h1 {
    text-align: center;
    width: 100%;
  }

  .header-text-block {
    margin-top: 50px;
  }

  .text-left {
    width: 100%;
  }

  .text-right {
    width: 100%;
  }

  .btn {
    float: right;
  }

  .main-text-right {
    text-align: center;
    margin-right: 0px;
    order: 1;
  }

  .main-img-left {
    margin-right: 0px;
    order: 2;
  }

  .main-text-left {
    text-align: center;
  }

  .main-img-right {
    margin-right: 0px;
  }

  .update {
    text-align: center;
    margin-right: 0px;
    width: 96%;
    padding: 2%;
  }

  .email-block {
    display: block;
    padding-top: 0px;
    text-align: center;
  }

  .input-email {
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-right: -4px;
  }

  .btn-email {
    float: none;
  }

  .padding-b-10 {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .text-size-72 {
    font-size: 54px;
  }

  .section {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .video-wrap {
    margin-bottom: 0px;
  }

  .card-h-size {
    margin-right: 0px;
  }

  .card-1-2-size {
    margin-right: 0px;
  }

  .card-3-4-5-size {
    margin-right: 0px;
  }

  .main-img-left {
    width: 100%;
    margin-right: 0px;
  }

  .main-img-right {
    width: 100%;
    margin-right: 0px;
  }

  .h6 {
    margin-top: 30px;
  }

  .input-email {
    width: 70%;
  }

}

@media only screen and (max-width: 425px) {

  .container {
    width: 100%;
  }

  .bg-before::before {
    width: 100%;
    height: 100%;
  }

  .section {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .header-image {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .header-h1 {
    text-align: center;
    padding-top: 10px;
  }

  .header-text-block {
    margin-top: 20px;
  }

  .text-left {
    width: 100%;
    margin: 0px;
  }

  .text-right {
    width: 100%;
    margin: 0px;
  }

  .btn {
    float: right;
  }

  .video-wrap {
    margin-bottom: 0px;
  }

  .card-h-size {
    width: 100%;
    height: 100%;
    margin-right: 0px;
  }

  .text-center-mob {
    text-align: center;
  }

  .card-1-2-size {
    width: 84%;
    height: 84%;
    padding: 8%;
    margin-right: 0%;
  }

  .card-3-4-5-size {
    width: 100%;
    height: 100%;
    margin-right: 0px;
  }

  .number {
    margin-bottom: 10px;
    font-size: 54px;
  }

  .main-img-left {
    order: 2;
    width: 100%;
    margin: 0px;
  }

  .main-img-right {
    width: 100%;
    margin: 0px;
  }

  .main-text-right {
    order: 1;
    width: 100%;
  }

  .main-text-left {
    width: 100%;
  }

  .h6 {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .update {
    width: 90%;
    padding: 5%;
    margin: 0px;
  }

  .email-block {
    width: 90%;
    padding: 10px 5%;
  }

  .input-email {
    width: 70%;
    height: 23px;
    padding: 10px 5%;
  }

  .input-email::placeholder {
    font-size: 14px;
  }

  .btn-email {
    width: 20%;
    height: 43px;
  }

  .contacts {
    margin-top: 50px;
  }

  .padding-16-0 {
    padding: 7px 0px;
  }

  .padding-t-b-16 {
    padding: 0px 0px;
  }

  .text-size-72 {
    font-size: 36px;
  }

  .text-size-60 {
    font-size: 30px;
  }

  .text-size-52 {
    font-size: 36px;
  }

  .text-size-34 {
    font-size: 24px;
  }

  .text-size-24 {
    font-size: 18px;
  }

  .text-size-16 {
    font-size: 14px;
  }

  .text-size-14 {
    font-size: 11px;
  }
  
}