 h1, h2, h3, h4 {
  margin-top: 0px;
  margin-bottom: 0px;
 }

 .bg {
  margin: 0px auto;
  width: 1440px;
  overflow: hidden;
  }

.bg::before {
  position: absolute;
  width: 1440px;
  height: 1005px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
  z-index: -1;
}

.section {
  position: relative;
  margin: 100px auto;
  width: 1110px;
}

.main-image {
  position: absolute;
  height: 504px;
  width: 1005px;
  margin-left: 270px;
 }

.header-h1 {
  position: relative;
  padding-top: 55px;
}

.text-block {
  margin-top: 225px;
}

.text-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    width: 540px;
  }

.text-right {
    display: inline-block;
    width: 540px;
    margin-left: auto;
}

.btn {
  display: inline-block;
  margin-top: 38px;
  padding: 12px 24px;
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #FE8A02;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.h-video {
  margin: 35px auto;
}

.video {
  display: block;
  margin: 0px auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  margin-bottom: -200px;
}

.padding-200 {
  padding-top: 200px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  }

.card-h-size {
  width: 350px;
  height: 323px;
}

.card-1-2-size {
  width: 302px;
  height: 275px;
}

.card-3-4-5-size {
  width: 302px;
  height: 300px;
}

.c-m-right {
margin-right: 30px;
}

.c-m-bottom {
  margin-bottom: 20px;
}

.card-padding {
  padding: 24px;
}

.text-font {
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  color: #2A2626;
  }

.h-font {
  font-family: Neucha, Arial, sans-serif;
  line-height: 1.2em;
  font-weight: 400; 
}

.card-bg {
  background-color: white;
}

.number {
  margin-bottom: 40px;
  font-family: Neucha, Arial, sans-serif;
  line-height: 1em;
  font-weight: 400; 
  font-size: 64px;
}

.h1-size {
  font-size: 72px;
}

.h2-size {
  font-size: 60px;
}

.h3-size {
  font-size: 52px;
}

.h4-size {
  font-size: 34px;
}

.orange {
  color: #FE8A02;
}

.black {
  color: #2A2626;
}

.white {
  color: white;
}

.bg-black {
  background-color: #42413C;
}

@font-face {
  font-family: "Neucha"; 
  src: url("../fonts/Neucha-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
  }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}